@import "../variaveis.css";

.navbar_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.navbar_container img {
    height: 64px;
}

.navbar_container ul {
    display: flex;
    list-style: none;
}

.navbar_container li {
    margin-left: 2em;
}

.navbar_container a {
    color: var(--color-claro);
    text-decoration: none;
    font-size: var(--fonte-size-medio);
    transition: 0.5s;
}

.navbar_container a:hover {
    color: var(--color-destaque);
}