.select_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 1em;
}

.select_container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-size: 20px;
    border: none;
    margin-top: 0.5em;
    padding: 0.8em;
    color: #808080;
    background-color: #fff;

    background-image: url('../../../img/expand-removebg-preview.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
}

.select_container select:active {
    background-image: url('../../../img/colapse-removebg-preview.png');
}

.select_container label {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 20px;
}