.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.btn {
    background-color: var(--background-escuro);
    font-size: var(--font-size-pequeno);
    color: var(--color-claro);
    width: var(--button-width);
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    height: 40px;
    text-align: center;
    cursor: pointer;

    /* alinhando svg e texto dentro do botão */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn:hover {
    color: #ffbb33;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:active {
    font-size: var(--font-size-menor);
    box-shadow: none;
}