@import "../core/Variaveis.css";

.container {
    width: 1200px;
    padding: var(--spacing-scale-2x);
}

.center_column {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
