@import "../core/Variaveis.css";

.container {
    width: 1200px;
    padding: var(--spacing-scale-2x);
}

.center {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    /* display: flex; */
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}