@import "../core/Variaveis.css";

.footer_container {
    width: 100%;
    background-color: var(--background-color-header);

    display: flex;
    justify-content: center;
    align-items: center;
}