.footer_container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--gold-vivid-5);
}

.footer_container ul {
    display: flex;
    gap: var(--spacing-scale-2x);
    color: var(--gold-vivid-5);
    line-height: var(--font-lineheight-high);
}

.footer_container li {
    list-style: none;
    font-size: var(--font-size-scale-up-01);
    color: var(--gold-vivid-5);
    transition: 0.5s;
}

.footer_container li:hover {
    color: var(--gold-vivid-20);
}

.footer_container p {
    color: var(--gold-vivid-5);
}

.footer_container span {
    font-weight: var(--font-weight-bold);
    color: var(--gold-vivid-20);
}