@import "../core/Variaveis.css";

.navbar_container {
    width: 100%;
    /* padding: 1em; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--gold-vivid-5);
}

.navbar_container a {
    text-decoration: none;
    color: var(--gold-vivid-5);
}

.navbar_container a {
    transition: 0.2s;
}

.navbar_container a:hover {
    font-size: var(--font-size-scale-up-02);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-lineheight-medium);
    color: var(--gold-vivid-20);
}

.navbar_container ul {
    display: flex;
    align-items: center;
}
.navbar_container li {
    margin-left: var(--spacing-scale-2x);
    list-style: none;
}