.card_container {
  width: 24%;
  height: 250px;
  padding-left: var(--spacing-scale-base);
  padding-right: var(--spacing-scale-base);
  margin-bottom: var(--spacing-scale-2x);
}

.card {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: var(--spacing-scale-2x);
  border-radius: var(--spacing-scale-half);
}

.card:hover {
  background-color: var(--gold-vivid-10);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
}

.card_header {
  padding: var(--spacing-scale-base) var(--spacing-scale-base);
  background-color: var(--gold-vivid-80);
  color: var(--gold-vivid-20);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-scale-up-02);
  border-radius: var(--spacing-scale-half) var(--spacing-scale-half) 0 0;

  display: flex;
  align-items: start;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--gold-vivid-20);
  }
}

.card_header:hover {
  span {
    overflow: visible;
    white-space: normal;
    text-overflow: inherit;
  }
}

.card_content {
  padding: var(--spacing-scale-base);
  span {
    font-size: var(--font-size-scale-down-01);
    font-weight: var(--font-weight-semi-bold);
  }
}

.card_content p span {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: red;
}
.card_footer {
  display: flex;
  justify-content: space-around;
  padding: 0 var(--spacing-scale-base) var(--spacing-scale-base);
}
