.home_items {
    display: flex;
    /* height: 100%; */
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_items span {
    padding: 0 var(--spacing-scale-base);
    background-color: var(--gold-vivid-70);
    font-weight: var(--font-weight-bold);
    color: var(--gold-vivid-30);
}

.home_items img {
    height: 430px;
}