.container {
    display: flex;
    margin: 1em;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.container h1 {
    color: var(--color-default);
    align-items: start;
}

.message {
    align-self: center;
}
