.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.ajuste {
    margin-bottom: var(--spacing-scale-2x);
}

.project_data {
    border-bottom: 1px solid var(--gold-vivid-80);
    span {
        font-weight: var(--font-weight-semi-bold);
    }
}