@import "./variaveis.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

html, body, #root {
    background-color: var(--background-cinza);
    height: 100%;
}