:root {
    /* background-color */
    --fundo-escuro: #222;
    --fundo-claro: #efefef;

    /* font-color */
    --color-claro: #fff;
    --color-destaque: #ffbb33;
    --fonte-size-medio: 20px;

    /* Botão */
    --botao-width: 160px;
}