:root {
    /* background-color */
    --background-escuro: #222;
    --background-claro: #efefef;

    /* font-color */
    --color-default: black;
    --color-claro: #fff;
    --color-gray: gray;
    --color-destaque: #ffbb33;

    /* font-size */
    --font-size-grande: 24px;
    --font-size-medio: 20px;
    --font-size-pequeno: 16px;
    --font-size-menor: 12px;

    /* Button */
    --button-width: 160px;
}