.select_col {
    display: block;

    margin-bottom: var(--spacing-scale-2x);
    padding: 0 12px;
    width: 100%;
}

.select_col label {
    color: var(--gold-vivid-80);
    font-size: var(--font-size-scale-base);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--font-lineheight-medium);
    margin-bottom: var(--spacing-scale-half);

    cursor: default;
}

.select_col select {
    --background-light: #fff;
    --border-color-alternative: #888;
    --surface-rounder-sm: 4px;
    --border-style: solid;
    --border-width: 1px;
    --color-light: #333;
    --input-size: 40px;

    background-color: var(--background-light);
    border-color: var(--border-color-alternative);
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style);
    border-width: var(--border-width);
    color: var(--color-light);
    display: block;
    font-size: var(--font-size-scale-base);
    font-weight: var(--font-weight-medium);
    height: var(--input-size);
    margin-top: var(--spacing-scale-half);
    padding-bottom: 0;
    padding-left: var(--spacing-scale-2x);
    padding-right: var(--spacing-scale-2x);
    padding-top: 0;
    width: 100%;
}

.select_col select:hover {
    background-color: #e0e0e0;
}

.select_col select:focus {
    border-color: #c2850c !important;
    box-shadow: 0 0 0 2px #c2850c;
    outline: none;
}